.HelloMr{
    color: yellow;
}

.navbar-custom {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
}

.Name{
    color: white;
}

.HomeIcon{
    font-size: 30px;
}

.leftBarButtons{
    color: #e2e4e6;
}

.leftBar{
    color: black;
    background-color: #2b363c;
    height:100vh;
    width: 100%;
}

.leftBarButtons:hover{
    color: #b7a25e;
    text-decoration: none;
}

.leftBarButtons:active{
    color: #b7a25e;
    text-decoration: none;
}

.BodyDiv{
    background-color: #f2f3f8;
}